@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


/*Header styling*/
.start-area-image {
    background-image: url(../images/teloscope_header_background.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    background-color: rgba(0, 0, 0, 0.7)
}
.heading{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: gold;
    width: 50%;
    display: inline-block;
}

.call-to-action{
    width: 40vw;
    margin: 5% 5% 0 0;
    float: right;
    background-color: rgba(219, 245, 105, 0.7);
    border-radius: 7.5%;
    padding-bottom: 10px;
    font-family: 'Akaya Kanadaka', cursive;
}

/* Navigation Menu Styling*/
#nav {
    font-size: 130%;
    background-color: rgb(226, 236, 134);
    padding: 4px 0 4px 35%;
    margin-bottom: 0;
}
#nav li {
    padding: 0 20px;
    background-color: rgb(245, 243, 158);
    border-radius: 8%;    
}
#nav a {
    text-decoration: none;
    color: blue; 
}

#active{
    background-color: rgb(204, 218, 79);
}

#nav .active, #nav li:hover {
    background-color: rgb(204, 218, 79) ;
}

/* Footer area styling */
footer {
    background-color:  rgb(226, 236, 134);
    padding-top: 10px;
}

footer div div {
    border-left: solid 0.75px black;
}


/*Content Area */
.bg-color-sky{
    background-color: #3480cc;
}

img {
    width: 100%;
}

.learning-area h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#content-title {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    text-align: center;
}

.bg-color-turk-box{
    background-color: rgb(164, 239, 231);
    border-radius: 5%;
    border: black 1px solid;
    margin-bottom: 10px;
}

.trips h5,.trips h4, .sign-up h4, .greetings h3{
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 36px;
}
.sign-up{ 
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 26px;
    margin-bottom: 10px;
}

.greetings h4 {
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    margin-top: px;
}

.greetings p{
    margin: 5px 20px 0 20px;
    padding-bottom: 5px;
}

.top-space{
    padding-top: 10px;
}

.greetings{
    padding-bottom: 30px;
}

.greetings a{
    color: red;
    font-size: 18px;
}


/*Form*/
#signup-form {
    background-color: #3de2ee;
    width: 100%;
    height: 100%;
    position: fixed;
}

form {
    background-color: rgb(255, 255, 228);
    margin: 5% auto 15% auto; 
    border: 1px solid rgb(161, 224, 255);
    width: 70%; 
}